
/* p{
    body {
        background-color: antiquewhite;
    }
} */

/* p{
    color: blueviolet;
    font-size: 80px;
} */

body{
    padding-bottom: 500px;
}

/* Classes */

.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#exclusive-title{

    background: purple;
    color: beige;
    padding: 10px;
    font-size: 40px;
}
